$icons-font-family: wp-administration-style-icons;

$icons: (
  compress: "\e900",
	expand: "\e901",
	hastag: "\e902",
	text: "\e903",
	file: "\e904",
	link: "\e905",
	refresh: "\e906",
	life-ring: "\e907",
	check: "\e908",
	cross-small: "\e909",
	eye: "\e90a",
	eye-crossed: "\e90b",
	edit: "\e90c",
	physics: "\e90d",
	magic-wand: "\e90e",
	thumbtack: "\e90f",
	layers: "\e910",
	settings: "\e911",
	user: "\e912",
	file1: "\e913",
	megaphone: "\e914",
	stats: "\e915",
	box: "\e916",
	comment: "\e917",
	dashboard: "\e918",
	picture: "\e919",
	add: "\e91a",
	plus-small: "\e91b",
	minus-small: "\e91c",
	caret-down: "\e91d",
	cross-circle: "\e91e",
	angle-small-down: "\e91f",
	angle-small-up: "\e920",
	angle-double-small-left: "\e921",
	angle-double-small-right: "\e922",
	shopping-bag: "\e923",
);
