$icons-font-family: uicons-regular-rounded;

$icons: (
  add: "\f101",
  address-book: "\f102",
  alarm-clock: "\f103",
  align-center: "\f104",
  align-justify: "\f105",
  align-left: "\f106",
  align-right: "\f107",
  ambulance: "\f108",
  angle-double-left: "\f109",
  angle-double-right: "\f10a",
  angle-double-small-left: "\f10b",
  angle-double-small-right: "\f10c",
  angle-down: "\f10d",
  angle-left: "\f10e",
  angle-right: "\f10f",
  angle-small-down: "\f110",
  angle-small-left: "\f111",
  angle-small-right: "\f112",
  angle-small-up: "\f113",
  angle-up: "\f114",
  apple: "\f115",
  apps-add: "\f116",
  apps-delete: "\f117",
  apps-sort: "\f118",
  apps: "\f119",
  archive: "\f11a",
  arrow-down: "\f11b",
  arrow-from-bottom: "\f11c",
  arrow-left: "\f11d",
  arrow-right: "\f11e",
  arrow-small-down: "\f11f",
  arrow-small-left: "\f120",
  arrow-small-right: "\f121",
  arrow-small-up: "\f122",
  arrow-up: "\f123",
  asterik: "\f124",
  at: "\f125",
  backpack: "\f126",
  badge: "\f127",
  balloons: "\f128",
  ban: "\f129",
  band-aid: "\f12a",
  bank: "\f12b",
  barber-shop: "\f12c",
  baseball: "\f12d",
  basketball: "\f12e",
  bed: "\f12f",
  beer: "\f130",
  bell-ring: "\f131",
  bell-school: "\f132",
  bell: "\f133",
  bike: "\f134",
  billiard: "\f135",
  bold: "\f136",
  book-alt: "\f137",
  book: "\f138",
  bookmark: "\f139",
  bowling: "\f13a",
  box-alt: "\f13b",
  box: "\f13c",
  bread-slice: "\f13d",
  briefcase: "\f13e",
  broom: "\f13f",
  browser: "\f140",
  brush: "\f141",
  bug: "\f142",
  building: "\f143",
  bulb: "\f144",
  butterfly: "\f145",
  cake-birthday: "\f146",
  cake-wedding: "\f147",
  calculator: "\f148",
  calendar: "\f149",
  call-history: "\f14a",
  call-incoming: "\f14b",
  call-missed: "\f14c",
  call-outgoing: "\f14d",
  camera: "\f14e",
  camping: "\f14f",
  car: "\f150",
  caret-down: "\f151",
  caret-left: "\f152",
  caret-right: "\f153",
  caret-up: "\f154",
  carrot: "\f155",
  chart-connected: "\f156",
  chart-histogram: "\f157",
  chart-network: "\f158",
  chart-pie-alt: "\f159",
  chart-pie: "\f15a",
  chart-pyramid: "\f15b",
  chart-set-theory: "\f15c",
  chart-tree: "\f15d",
  chat-arrow-down: "\f15e",
  chat-arrow-grow: "\f15f",
  check: "\f160",
  checkbox: "\f161",
  cheese: "\f162",
  chess-piece: "\f163",
  child-head: "\f164",
  circle-small: "\f165",
  circle: "\f166",
  clip: "\f167",
  clock: "\f168",
  cloud-check: "\f169",
  cloud-disabled: "\f16a",
  cloud-download: "\f16b",
  cloud-share: "\f16c",
  cloud-upload: "\f16d",
  cloud: "\f16e",
  clouds: "\f16f",
  cocktail: "\f170",
  coffee: "\f171",
  comment-alt: "\f172",
  comment-check: "\f173",
  comment-heart: "\f174",
  comment-info: "\f175",
  comment-user: "\f176",
  comment: "\f177",
  comments: "\f178",
  compress-alt: "\f179",
  compress: "\f17a",
  computer: "\f17b",
  confetti: "\f17c",
  cookie: "\f17d",
  copy-alt: "\f17e",
  copy: "\f17f",
  copyright: "\f180",
  cow: "\f181",
  cream: "\f182",
  credit-card: "\f183",
  croissant: "\f184",
  cross-circle: "\f185",
  cross-small: "\f186",
  cross: "\f187",
  crown: "\f188",
  cube: "\f189",
  cupcake: "\f18a",
  cursor-finger: "\f18b",
  cursor-plus: "\f18c",
  cursor-text-alt: "\f18d",
  cursor-text: "\f18e",
  cursor: "\f18f",
  dart: "\f190",
  dashboard: "\f191",
  data-transfer: "\f192",
  database: "\f193",
  delete: "\f194",
  diamond: "\f195",
  dice: "\f196",
  diploma: "\f197",
  disco-ball: "\f198",
  disk: "\f199",
  doctor: "\f19a",
  document-signed: "\f19b",
  document: "\f19c",
  dollar: "\f19d",
  download: "\f19e",
  drink-alt: "\f19f",
  drumstick: "\f1a0",
  duplicate: "\f1a1",
  e-learning: "\f1a2",
  earnings: "\f1a3",
  edit-alt: "\f1a4",
  edit: "\f1a5",
  envelope-ban: "\f1a6",
  envelope-download: "\f1a7",
  envelope-marker: "\f1a8",
  envelope-open: "\f1a9",
  envelope-plus: "\f1aa",
  envelope: "\f1ab",
  euro: "\f1ac",
  exclamation: "\f1ad",
  expand: "\f1ae",
  eye-crossed: "\f1af",
  eye-dropper: "\f1b0",
  eye: "\f1b1",
  feather: "\f1b2",
  ferris-wheel: "\f1b3",
  file-add: "\f1b4",
  file-ai: "\f1b5",
  file-check: "\f1b6",
  file-delete: "\f1b7",
  file-eps: "\f1b8",
  file-gif: "\f1b9",
  file-music: "\f1ba",
  file-psd: "\f1bb",
  file: "\f1bc",
  fill: "\f1bd",
  film: "\f1be",
  filter: "\f1bf",
  fingerprint: "\f1c0",
  fish: "\f1c1",
  flag: "\f1c2",
  flame: "\f1c3",
  flip-horizontal: "\f1c4",
  flower-bouquet: "\f1c5",
  flower-tulip: "\f1c6",
  flower: "\f1c7",
  folder-add: "\f1c8",
  folder: "\f1c9",
  following: "\f1ca",
  football: "\f1cb",
  form: "\f1cc",
  forward: "\f1cd",
  fox: "\f1ce",
  frown: "\f1cf",
  ftp: "\f1d0",
  gallery: "\f1d1",
  gamepad: "\f1d2",
  gas-pump: "\f1d3",
  gem: "\f1d4",
  gift: "\f1d5",
  glass-cheers: "\f1d6",
  glasses: "\f1d7",
  globe-alt: "\f1d8",
  globe: "\f1d9",
  golf: "\f1da",
  graduation-cap: "\f1db",
  graphic-tablet: "\f1dc",
  grid-alt: "\f1dd",
  grid: "\f1de",
  guitar: "\f1df",
  gym: "\f1e0",
  hamburger: "\f1e1",
  hand-holding-heart: "\f1e2",
  hastag: "\f1e3",
  hat-birthday: "\f1e4",
  head-side-thinking: "\f1e5",
  headphones: "\f1e6",
  headset: "\f1e7",
  heart-arrow: "\f1e8",
  heart: "\f1e9",
  home-location-alt: "\f1ea",
  home-location: "\f1eb",
  home: "\f1ec",
  hourglass-end: "\f1ed",
  hourglass: "\f1ee",
  ice-cream: "\f1ef",
  ice-skate: "\f1f0",
  id-badge: "\f1f1",
  inbox: "\f1f2",
  incognito: "\f1f3",
  indent: "\f1f4",
  infinity: "\f1f5",
  info: "\f1f6",
  interactive: "\f1f7",
  interlining: "\f1f8",
  interrogation: "\f1f9",
  italic: "\f1fa",
  jpg: "\f1fb",
  key: "\f1fc",
  keyboard: "\f1fd",
  kite: "\f1fe",
  label: "\f1ff",
  laptop: "\f200",
  lasso: "\f201",
  laugh: "\f202",
  layers: "\f203",
  layout-fluid: "\f204",
  leaf: "\f205",
  letter-case: "\f206",
  life-ring: "\f207",
  line-width: "\f208",
  link: "\f209",
  lipstick: "\f20a",
  list-check: "\f20b",
  list: "\f20c",
  location-alt: "\f20d",
  lock-alt: "\f20e",
  lock: "\f20f",
  luggage-rolling: "\f210",
  magic-wand: "\f211",
  makeup-brush: "\f212",
  man-head: "\f213",
  map-marker-cross: "\f214",
  map-marker-home: "\f215",
  map-marker-minus: "\f216",
  map-marker-plus: "\f217",
  map-marker: "\f218",
  map: "\f219",
  marker-time: "\f21a",
  marker: "\f21b",
  mars-double: "\f21c",
  mars: "\f21d",
  mask-carnival: "\f21e",
  medicine: "\f21f",
  megaphone: "\f220",
  meh: "\f221",
  menu-burger: "\f222",
  menu-dots-vertical: "\f223",
  menu-dots: "\f224",
  microphone-alt: "\f225",
  microphone: "\f226",
  minus-small: "\f227",
  minus: "\f228",
  mobile: "\f229",
  mode-landscape: "\f22a",
  mode-portrait: "\f22b",
  money: "\f22c",
  moon: "\f22d",
  mountains: "\f22e",
  mouse: "\f22f",
  mug-alt: "\f230",
  music-alt: "\f231",
  music: "\f232",
  navigation: "\f233",
  network-cloud: "\f234",
  network: "\f235",
  notebook: "\f236",
  opacity: "\f237",
  package: "\f238",
  paint-brush: "\f239",
  palette: "\f23a",
  paper-plane: "\f23b",
  password: "\f23c",
  pause: "\f23d",
  paw: "\f23e",
  pencil: "\f23f",
  pharmacy: "\f240",
  phone-call: "\f241",
  phone-cross: "\f242",
  phone-pause: "\f243",
  phone-slash: "\f244",
  physics: "\f245",
  picture: "\f246",
  ping-pong: "\f247",
  pizza-slice: "\f248",
  plane: "\f249",
  play-alt: "\f24a",
  play: "\f24b",
  playing-cards: "\f24c",
  plus-small: "\f24d",
  plus: "\f24e",
  poker-chip: "\f24f",
  portrait: "\f250",
  pound: "\f251",
  power: "\f252",
  presentation: "\f253",
  print: "\f254",
  protractor: "\f255",
  pulse: "\f256",
  pyramid: "\f257",
  quote-right: "\f258",
  rainbow: "\f259",
  raindrops: "\f25a",
  rec: "\f25b",
  receipt: "\f25c",
  record-vinyl: "\f25d",
  rectabgle-vertical: "\f25e",
  rectangle-horizontal: "\f25f",
  rectangle-panoramic: "\f260",
  recycle: "\f261",
  redo-alt: "\f262",
  redo: "\f263",
  reflect: "\f264",
  refresh: "\f265",
  resize: "\f266",
  resources: "\f267",
  rewind: "\f268",
  rhombus: "\f269",
  rings-wedding: "\f26a",
  road: "\f26b",
  rocket: "\f26c",
  room-service: "\f26d",
  rotate-right: "\f26e",
  rugby: "\f26f",
  sad: "\f270",
  salad: "\f271",
  scale: "\f272",
  school-bus: "\f273",
  school: "\f274",
  scissors: "\f275",
  screen: "\f276",
  search-alt: "\f277",
  search-heart: "\f278",
  search: "\f279",
  settings-sliders: "\f27a",
  settings: "\f27b",
  share: "\f27c",
  shield-check: "\f27d",
  shield-exclamation: "\f27e",
  shield-interrogation: "\f27f",
  shield-plus: "\f280",
  shield: "\f281",
  ship-side: "\f282",
  ship: "\f283",
  shop: "\f284",
  shopping-bag-add: "\f285",
  shopping-bag: "\f286",
  shopping-cart-add: "\f287",
  shopping-cart-check: "\f288",
  shopping-cart: "\f289",
  shuffle: "\f28a",
  sign-in-alt: "\f28b",
  sign-in: "\f28c",
  sign-out-alt: "\f28d",
  sign-out: "\f28e",
  signal-alt-1: "\f28f",
  signal-alt-2: "\f290",
  signal-alt: "\f291",
  skateboard: "\f292",
  smartphone: "\f293",
  smile-wink: "\f294",
  smile: "\f295",
  snowflake: "\f296",
  soap: "\f297",
  soup: "\f298",
  spa: "\f299",
  speaker: "\f29a",
  sphere: "\f29b",
  spinner-alt: "\f29c",
  spinner: "\f29d",
  square-root: "\f29e",
  square: "\f29f",
  star-octogram: "\f2a0",
  star: "\f2a1",
  stats: "\f2a2",
  stethoscope: "\f2a3",
  sticker: "\f2a4",
  stop: "\f2a5",
  stopwatch: "\f2a6",
  subtitles: "\f2a7",
  sun: "\f2a8",
  sunrise: "\f2a9",
  surfing: "\f2aa",
  sword: "\f2ab",
  syringe: "\f2ac",
  tablet: "\f2ad",
  target: "\f2ae",
  taxi: "\f2af",
  tennis: "\f2b0",
  terrace: "\f2b1",
  test-tube: "\f2b2",
  test: "\f2b3",
  text-check: "\f2b4",
  text: "\f2b5",
  thermometer-half: "\f2b6",
  thumbs-down: "\f2b7",
  thumbs-up: "\f2b8",
  thumbtack: "\f2b9",
  ticket: "\f2ba",
  time-add: "\f2bb",
  time-check: "\f2bc",
  time-delete: "\f2bd",
  time-fast: "\f2be",
  time-forward-sixty: "\f2bf",
  time-forward-ten: "\f2c0",
  time-forward: "\f2c1",
  time-half-past: "\f2c2",
  time-oclock: "\f2c3",
  time-past: "\f2c4",
  time-quarter-past: "\f2c5",
  time-quarter-to: "\f2c6",
  time-twenty-four: "\f2c7",
  tool-crop: "\f2c8",
  tool-marquee: "\f2c9",
  tooth: "\f2ca",
  tornado: "\f2cb",
  train-side: "\f2cc",
  train: "\f2cd",
  transform: "\f2ce",
  trash: "\f2cf",
  treatment: "\f2d0",
  tree-christmas: "\f2d1",
  tree: "\f2d2",
  triangle: "\f2d3",
  trophy: "\f2d4",
  truck-side: "\f2d5",
  umbrella: "\f2d6",
  underline: "\f2d7",
  undo-alt: "\f2d8",
  undo: "\f2d9",
  unlock: "\f2da",
  upload: "\f2db",
  usb-pendrive: "\f2dc",
  user-add: "\f2dd",
  user-delete: "\f2de",
  user-remove: "\f2df",
  user-time: "\f2e0",
  user: "\f2e1",
  utensils: "\f2e2",
  vector-alt: "\f2e3",
  vector: "\f2e4",
  venus-double: "\f2e5",
  venus-mars: "\f2e6",
  venus: "\f2e7",
  video-camera: "\f2e8",
  volleyball: "\f2e9",
  volume: "\f2ea",
  wheelchair: "\f2eb",
  wifi-alt: "\f2ec",
  wind: "\f2ed",
  woman-head: "\f2ee",
  world: "\f2ef",
  yen: "\f2f0",
  zoom-in: "\f2f1",
  zoom-out: "\f2f2",
);
