// edit with elementor button
#elementor-switch-mode-button
	color: white !important
	border-radius: $border-radius
	margin-bottom: unset
	background: rgb(235,42,91)
	background: linear-gradient(200deg, rgba(235,42,91,1) 0%, rgba(75,65,100,1) 100%)
	&:hover
		background: #d1234f
		background: linear-gradient(180deg, rgba(235,42,91,1) 0%, rgba(75,65,100,1) 100%)

#elementor-editor-button i, #elementor-switch-mode-button i
	margin-left: unset !important
	font-size: 1rem !important

.elementor-switch-mode-on,
#elementor-editor-button
	display: inline-flex
	align-items: center
	gap: .5rem