@import ../../variables
@import ../../functions
@import ../../mixins

@import ../_base/destruction
@import ../_base/forms

body
	font-family: $font_family_all !important
	color: $gray_60 !important
	user-select: none
	height: 100vh
	height: 100dvh
	display: grid
	align-content: center
	align-items: center

.password-input
	font-family: inherit !important

a:focus
	box-shadow: unset !important

h1
	display: none
	a
		background-size: 65px !important
		background-position: center bottom !important

form
	padding: 1.5rem !important
	border-radius: $border-radius
	margin-top: unset !important
	border: unset !important
	box-shadow: unset !important

.input
	font-size: 14px !important
	line-height: 1 !important
	padding: .5rem 1rem !important
	margin: 0 0 1rem 0 !important
	height: 40px
	color: $gray_50 !important


// Password field
.dashicons-visibility::before
	+icon(eye)
.dashicons-hidden::before
	+icon(eye-crossed)
.dashicons-visibility,
.dashicons-hidden
	display: inline-flex !important
	font-size: 14px !important
	width: unset !important
	height: unset !important
	top: unset !important
// toggle pwd visiblity
.login .button.wp-hide-pw
	display: flex !important
	align-items: center !important
	justify-content: center !important
	color: $gray_50 !important
	height: 40px
	&:hover, &:focus
		color: $brand !important
	&:focus
		box-shadow: unset !important

// Remember me
.forgetmenot
	display: flex
	align-items: center
	gap: .5rem
	margin-top: .7rem
	input, label
		margin: unset

// Submit button
#wp-submit
	@include button(primary)
	min-height: unset !important
	line-height: 1 !important
	padding-right: 2rem !important
	padding-left: 2rem !important
	margin-bottom: unset !important

// go back link
#backtoblog, #nav
	padding: unset !important
	a
		border-bottom: 1px dashed $gray_40
		padding: unset !important
		&:hover, &:focus
			color: $brand !important
			border-color: $brand !important

// Alert
.message
	box-shadow: unset !important
	border-radius: $border-radius !important
	border-top: 1px solid $gray_20 !important
	border-bottom: 1px solid $gray_20 !important
	border-left: 1px solid $gray_20 !important

.language-switcher
	width: 320px !important

#language-switcher
	display: flex !important
	padding-right: unset !important
	padding-left: unset !important
	gap: 1rem !important

	.button
		height: $input_h !important
		padding-right: 16px !important
		padding-left: 16px !important
		margin: unset !important
		background: white
		color: gray

[for=language-switcher-locales]
	display: none !important

#language-switcher-locales
	width: 100% !important
	margin: unset !important

.login #login_error, .login .message, .login .success
	border-right-width: 3px !important
