* {
  font-style: normal !important;
}

.elementor-switch-mode-off {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.elementor-switch-mode-off i {
  margin: unset;
}

.e-notice__dismiss {
  right: unset !important;
  left: 0;
}

.elementor-plugins-gopro,
[href="admin.php?page=go_elementor_pro"] {
  display: none !important;
}

#post-body-content #elementor-switch-mode-button {
  background: #92003B !important;
  color: white !important;
}
#post-body-content #elementor-switch-mode-button:hover {
  background: #B74573 !important;
}

#elementor-editor-button i, #elementor-switch-mode-button i {
  margin-left: unset !important;
}

.elementor-switch-mode-on,
#elementor-editor-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
