* {
  font-style: normal !important;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #3F3F46;
}
::-webkit-scrollbar-thumb {
  height: 3rem;
  max-height: 40%;
  background: #71717A;
  border-radius: 99px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #D4D4D8;
}
