@use "../../packages/sass-font-face" as *;

@include font-face((
	font-family: "VazirFDWOL",
	font-style: normal,
	weight: ( Thin 100, Light 300, Regular 400, Medium 500, Bold 600, "Black" 800, ),
	url: "../fonts/Vazir/FD-WOL/Vazir-WEIGHT-FD-WOL.SUFFIX",
	suffix: eot woff2 woff ttf,
));

@include font-face((
	font-family: "VazirWOL",
	font-style: normal,
	weight: ( Thin 100, Light 300, Regular 400, Medium 500, Bold 600, "Black" 800, ),
	url: "../fonts/Vazir/WOL/Vazir-WEIGHT-WOL.SUFFIX",
	suffix: eot woff2 woff ttf,
));

@include font-face((
	font-family: "Poppins",
	font-style: normal,
	weight: ( Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500, Bold 600, ExtraBold 700, "Black" 800, ),
	url: "../fonts/Poppins/Poppins-WEIGHT.SUFFIX",
	suffix: ttf,
));

@include font-face((
	font-family: MonoLisa,
	font-style: normal,
	weight: ( Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500, Bold 600, "Black" 800, ),
	url: "../fonts/MonoLisa/MonoLisa-WEIGHT.SUFFIX",
	suffix: ttf,
));
